<header class="main-header">
    <a href="/Admin" class="logo">
        <span class="logo-mini">پنل</span>
        <span class="logo-lg"><b> پنل ادمین </b></span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-danger">0</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header text-center">موردی جدیدی برای نمایش وجود ندارد</li>
                        <li>
                            <ul class="menu">
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">۰</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header text-center">موردی جدیدی برای نمایش وجود ندارد !</li>
                        <li>
                            <ul class="menu">
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-sign-out "></i>
                    </a>
                    <ul class="dropdown-menu" style="width: fit-content">
                        <li class="text-center p-2">
                            <a href="/" class="f-15 text-black">آموزشگاه</a>
                        </li>
                        <li class="text-center p-2">
                            <a href="/Logout" class="f-15 text-danger" style="color: #d83131 !important"><b>خروج</b></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>