@page "{handler?}"
@using Common.Core.DateUtil
@model ServiceHost.Areas.Admin.Pages.BlogManagement.IndexModel
@{
    ViewData["title"] = "بلاگ";
    ViewData["selected"] = "blogs";
}
<popupLink class="btn btn-success mb-2"
           title="پست جدید" url="/admin/BlogManagement/ShowAddPage">افزودن پست</popupLink>

<div class="box box-border custom-shadow">
    <form id="filter" method="get">
        <input type="hidden" name="pageId" id="pageId" value="" />
        <div class="box-header with-border">
            <h3 class="box-title">فیلتر</h3>
            <div class="box-tools pull-right">
                <a href="/Admin/Articles" class="btn btn-sm btn-danger btn-flat">
                    حذف
                    <i class="fa fa-close">
                    </i>
                </a>
                <button type="submit" class="btn btn-sm btn-primary btn-flat">
                    فیلتر
                    <i class="fa fa-search">
                    </i>
                </button>

            </div>
        </div>
        <div class="box-body" style="">
            <div class="table-filter">
                <div class="row">
                    <div class="col-md-3 form-input">
                        <label>عنوان :</label>
                        <input placeholder="عنوان پست : " name="title" type="text" class="form-control" />
                    </div>
                    <div class="col-md-3 form-input">
                        <label>  جستوجو بر اساس :</label>
                        <select class="form-control" name="type">
                            <option value="all">همه</option>
                            <option value="articles">مقالات</option>
                            <option value="news">اخبار</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="box box-primary">
    <div class="box-body table-responsive no-padding">
        <table class="table table-bordered bg-white text-center">
            <thead>
                <tr>
                    <td>#</td>
                    <th>عنوان</th>
                    <th>نویسنده</th>
                    <th>آخرین بروزرسانی</th>
                    <th>وضعیت</th>
                    <th>پست ویژه</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FilterDto.Posts)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.AuthorName</td>
                        <td>@item.UpdateDate.ToPersianDateTime()</td>
                        <td>
                            @if (item.IsActive)
                            {
                                <span class="label label-success">فعال</span>
                            }
                            else
                            {
                                <span class="label label-danger">غیرفعال</span>
                            }
                        </td>
                        <td>
                            @if (item.IsSpecial)
                            {
                                <span class="label label-success">بله</span>
                            }
                            else
                            {
                                <span class="label label-danger">خیر</span>
                            }
                        </td>
                        <td>
                            @if (item.IsActive)
                            {
                                <DeleteItem url="/admin/BlogManagement/ToggleStatus?id=@item.Id" class="btn btn-sm btn-danger no-margin">
                                    <i class="fa fa-trash"></i>
                                </DeleteItem>

                            }
                            else
                            {
                                <Question url="/admin/BlogManagement/ToggleStatus?id=@item.Id" class="btn btn-sm btn-success no-margin">
                                    فعال سازی
                                </Question>

                            }
                            <popupLink title="ویرایش مقاله" url="/admin/BlogManagement/ShowEditPage?id=@item.Id" class="btn btn-sm btn-info no-margin">
                                <i class="fa fa-edit"></i>
                            </popupLink>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>