@page
@model ServiceHost.Pages.Auth.ForgotPasswordModel
@{
    Layout = "Shared/Layouts/_AuthLayout";
}
<div class="auth-form shadow-around">
    <div class="site-logo">
        <a href="#">
            <img src="/assets/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="auth-form-title">
        یادآوری کلمه عبور
        <p><small>لینک تغییر کلمه عبور به ایمیل شما ارسال میشود</small></p>
    </div>
    <form method="post">
        <div class="form-element-row">
            <label for="PasswordDto_Email" class="label-element">ایمیل</label>
            <div class="form-element-with-icon">
                <input type="email" asp-for="PasswordDto.Email" class="input-element" >
                <i class="fad fa-envelope"></i>
            </div>
            <span asp-validation-for="PasswordDto.Email" class="text-danger"></span>
        </div>
        <div class="form-element-row text-left">
            <button  class="btn-element btn-success-element">
                <i class="fad fa-sync"></i>
                یادآوری کلمه عبور
            </button>
        </div>

    </form>
    <div class="auth-form-footer">
        <span>کاربر جدید هستید؟</span>
        <a asp-page="Register" class="link--with-border-bottom">ثبت نام در بست شاپ</a>
     
    </div>
</div>