@page
@model ServiceHost.Pages.Auth.RegisterModel
@{
    Layout = "Shared/Layouts/_AuthLayout";
    ViewData["title"] = "ثبت نام در بست شاپ";
}
<div class="auth-form shadow-around">
    <div class="site-logo">
        <a href="/">
            <img src="/assets/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="auth-form-title">
        ثبت نام در بست شاپ
    </div>
    <form method="post">
        <div class="form-element-row">
            <label for="phone-number" class="label-element">شماره موبایل</label>
            <div class="form-element-with-icon">
                <input asp-for="RegisterDto.PhoneNumber" autocomplete="off" type="text" class="input-element" id="number_input">
                <i class="fad fa-mobile-alt"></i>
            </div>
            <span class="text-danger" asp-validation-for="RegisterDto.PhoneNumber"></span>

        </div>
        <div class="form-element-row">
            <label for="password" class="label-element">کلمه عبور</label>
            <div class="form-element-with-icon">
                <input type="password" class="input-element" asp-for="RegisterDto.Password">
                <i class="fad fa-key-skeleton"></i>
            </div>
            <span class="text-danger" asp-validation-for="RegisterDto.Password"></span>

        </div>
        <div class="form-element-row">
            <label for="password" class="label-element">تکرار کلمه عبور</label>
            <div class="form-element-with-icon">
                <input type="password" class="input-element" asp-for="RegisterDto.RePassword">
                <i class="fad fa-key-skeleton"></i>
            </div>
            <span class="text-danger" asp-validation-for="RegisterDto.RePassword"></span>

        </div>
        <div class="form-element-row">
            <label class="container-checkbox">
                <a href="#" class="link--with-border-bottom">حریم خصوصی</a> و 
                <a href="#" class="link--with-border-bottom">شرایط و قوانین</a> 
                استفاده از سرویس های سایت
                بست شاپ را مطالعه نموده
                و با کلیه موارد آن موافقم.
                <input type="checkbox"  asp-for="RegisterDto.IsAcceptRules" >
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-element-row text-left">
            <button type="submit" disabled="@((Model.RegisterDto.IsAcceptRules ? null : "disabled"))" class="btn-element btn-success-element btn-submit">
                <i class="fad fa-user-edit"></i>
                ثبت نام در همتا
            </button>
        </div>

    </form>
    <div class="auth-form-footer">
        <span>قبلا در همتا ثبت‌نام کرده‌اید؟</span>
        <a href="/Auth/login" class="link--with-border-bottom">وارد شوید</a>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function() {
        })
    </script>
}
