@page "{email}/{activeCode}"
@model ServiceHost.Pages.Auth.ResetPasswordModel
@{
    Layout = "Shared/Layouts/_AuthLayout";
    ViewData["title"] = "تغییر کلمه عبور";
}
<div class="auth-wrapper">
    <div class="auth-form shadow-around">
        <div class="site-logo">
            <a href="#">
                <img src="/assets/images/logo.png" alt="logo">
            </a>
        </div>
        <div class="auth-form-title">
            تغییر رمز عبور
        </div>
        <form method="post">
            <div class="form-element-row">
                <label for="password" class="label-element">کلمه عبور</label>
                <div class="form-element-with-icon">
                    <input asp-for="ResetPasswordDto.Password" type="password" class="input-element" id="password">
                    <i class="fad fa-key-skeleton"></i>
                </div>
                <span asp-validation-for="ResetPasswordDto.Password" class="text-danger"></span>
            </div>
            <div class="form-element-row">
                <label for="password_confirm" class="label-element">تکرار کلمه عبور</label>
                <div class="form-element-with-icon">
                    <input type="password" asp-for="ResetPasswordDto.RePassword" class="input-element" id="password_confirm">
                    <i class="fad fa-key-skeleton"></i>
                </div>
                <span asp-validation-for="ResetPasswordDto.RePassword" class="text-danger"></span>
            </div>
            <div class="form-element-row text-left">
                <button type="submit" class="btn-element btn-success-element">
                    <i class="fad fa-sync"></i>
                    تغییر رمز عبور
                </button>
            </div>

        </form>
        <div class="auth-form-footer">
            <span>کاربر جدید هستید؟</span>
            <a asp-page="Register" class="link--with-border-bottom">ثبت نام در بست شاپ</a>
        </div>
    </div>
</div>