@model AdminPanel.ViewModels.PostGroups.InsertBlogGroupViewModel
<form data-ajax="true" method="post" asp-page="Index" asp-page-handler="InsertGroup" class="row">
    @Html.HiddenFor(m=>m.ParentId)
    <div class="col-md-6">
        @Html.EditorFor(m => m.GroupTitle)
    </div>
    <div class="col-md-6">
        @Html.EditorFor(m => m.EnglishGroupTitle)
    </div>
    <div class="col-md-12">
        @Html.EditorFor(m => m.MetaDescription)
    </div>
</form>