@model bool
<div class="switch">
    <label asp-for="@Model"></label>
    <label >
        <input type="checkbox" asp-for="@Model"><span class="lever"></span>
    </label>
</div>
<span asp-validation-for="@Model" class="text-danger"></span>