@model string
<div class="form-group form-float">
    <div class="form-line">
        <input type="text" autocomplete="off" asp-for="@Model" class="form-control dateSelect">
        <label class="form-label" asp-for="@Model"></label>
    </div>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>
