@model Int32
<div class="form-group form-float">
    <div class="form-line ">
        <input type="number" asp-for="@Model" class="form-control">
        <label class="form-label" asp-for="@Model"></label>
    </div>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>