@model string

<div class="text-dark font-weight-bold">
    <div class="form-element-row mb-0">
        <textarea asp-for="@Model" class="input-element" rows="3"></textarea>
    </div>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>
