@model string

<div class="form-input">
    <label asp-for="@Model"></label>

    <textarea asp-for="@Model" class="form-control" rows="3"></textarea>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>
