@model string
<div class="form-group">
    <div class="form-line">
        <input asp-for="@Model" type="text" class="form-control" placeholder="@Model" />
    </div>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>