@model string
<div class="form-group">
    <label asp-for="@Model"></label>
    <div class="form-line">
        <input asp-for="@Model" type="file" class="form-control"/>
    </div>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>