<div class="d-flex align-items-center">
    <div class="site-logo">
        <a href="#">
            <img src="/assets/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="search-box">
        <form action="#">
            <input type="text" placeholder="نام محصول یا برند را جستجو کنید...">
            <i class="far fa-search"></i>
        </form>
        <div class="search-result">
            <ul class="search-result-list">
                <li><a href="#">موبایل</a></li>
                <li><a href="#">سامسونگ</a></li>
                <li><a href="#">مودم</a></li>
                <li><a href="#">اپل</a></li>
                <li><a href="#">تلویزیون</a></li>
            </ul>
            <ul class="search-result-most-view">
                <li><a href="#">موبایل</a></li>
                <li><a href="#">سامسونگ</a></li>
                <li><a href="#">مودم</a></li>
                <li><a href="#">اپل</a></li>
                <li><a href="#">تلویزیون</a></li>
            </ul>
        </div>
    </div>
</div>