<div class="top-page-header">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="contact-list">
                <ul>
                    <li><i class="fas fa-phone-rotary"></i><a href="tel: 02100000000">021-00000000</a></li>
                    <li>
                        <i class="fas fa-envelope"></i><a href="mailto: site@example.com">site@example.com</a>
                    </li>
                </ul>
            </div>
            <div class="top-header-menu">
                <ul>
                    <li><a href="/">خانه</a></li>
                    <li><a href="https://tracking.post.ir/" target="_blank" rel="nofollow">رهگیری مرسوله</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>