@model string

<label asp-for="@Model"></label>
<div class="form-input input-group date ">
    <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </div>
    <input type="text" autocomplete="off" asp-for="@Model" class="form-control dateSelect pull-right" style="border-radius: 6px 0px 0px 6px !important;">
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>

