@model string

<div class="text-dark font-weight-bold">
    <div class="form-element-row mb-0">
        <input type="text" class="input-element dateSelect" asp-for="@Model">
    </div>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>


