@page
@model AdminPanel.Pages.ShopManagement.Categories.IndexModel
@{
    ViewData["Title"] = "دسته بندی های فروشگاه";
    ViewData["Selected"] = "ShopCategories";
}
<div class="card">
    <div class="body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>عنوان</td>
                        <td>زیر گروه</td>
                        <td></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>