<aside id="leftsidebar" class="sidebar">
    <div class="menu">
        <ul class="list">
            <li class="header">MAIN NAVIGATION</li>

            <li><a href="widgets.html"><i class="zmdi zmdi-home"></i><span>داشبورد</span> </a></li>
            <li><a href="mail-inbox.html"><i class="zmdi zmdi-email"></i><span>Inbox</span> </a></li>
            <li><a href="blog-dashboard.html"><i class="zmdi zmdi-blogger"></i><span>Blogger</span> </a></li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-shopping-cart"></i><span>Ecommerce</span></a>
                <ul class="ml-menu">
                    <li><a href="ec-dashboard.html">Dashboard</a></li>
                    <li><a href="ec-product.html">Product</a></li>
                    <li><a href="ec-product-List.html">Product List</a></li>
                    <li><a href="ec-product-detail.html">Product detail</a></li>
                </ul>
            </li>
            <li class="header">وبلاگ</li>
            <li><a asp-page="BlogManagement/Groups/Index"><i class="zmdi zmdi-group"></i><span>دسته بندی ها</span> </a></li>
            <li><a asp-page="BlogManagement/Index"><i class="zmdi zmdi-blogger"></i><span>پست ها</span> </a></li>


            <li class="header">LABELS</li>
            <li><a href="javascript:void(0);"><i class="zmdi zmdi-chart-donut col-red"></i><span>Important</span> </a></li>
            <li><a href="javascript:void(0);"><i class="zmdi zmdi-chart-donut col-amber"></i><span>Warning</span> </a></li>
            <li><a href="javascript:void(0);"><i class="zmdi zmdi-chart-donut col-blue"></i><span>Information</span> </a></li>
        </ul>
    </div>
    <!-- #Menu -->
</aside>